bench/src/perf_regions/examples
bench/src/perf_regions/doc
.gitconfig
.vscode
bench/main
bench/build
bench/bin
bench/lib
bench/benchmark_1d.o
bench/file.csv
bench/tmp.txt
bench/src/*.mod
bench/src/perf_regions/src/perf_regions_fortran.mod
bench/*.csv
bench/*/*.csv
bench/preprocess/__pycache__
bench/preprocess/bench_tree
bench/preprocess/test_codegen_run.sh
bench/preprocess/*.json
bench/preprocess/array_alloc.csv
bench/postprocess/data.*
bench/postprocess/*.pdf
bench/postprocess/*/
tuto/echo
tuto/omp
venv
bench/testing/postprocess_testing/postprocess/data.csv
bench/testing/out.csv
bench/testing/tmp.txt