perf_regions/examples
perf_regions/doc
.gitconfig
.vscode
bench/main
bench/bench
bench/build
bench/bin
bench/lib
bench/benchmark_implementations.o
bench/file.csv
bench/tmp.txt
bench/src/*.mod
perf_regions/src/perf_regions_fortran.mod
bench/*.csv
bench/preprocess/__pycache__
bench/preprocess/bench_tree
bench/preprocess/test_codegen_run.sh
bench/preprocess/all_benchmark_parameters.json
bench/preprocess/array_alloc.csv
bench/postprocess/data.*
bench/postprocess/*.pdf
tuto/echo
venv
bench/testing/postprocess_testing/postprocess/data.csv
bench/testing/out.csv
bench/testing/tmp.txt
