perf_regions/examples
perf_regions/doc
.gitconfig
.vscode
bench/main
bench/build
bench/lib
bench/benchmark_implementations.o
bench/file.csv
bench/output.txt
bench/src/*.mod
perf_regions/src/perf_regions_fortran.mod
